/*scss de obejetos generales*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
li {
    list-style: none;

}
a{
    text-decoration: none;
}
h1{
    position:relative;
    font-family: var(--font-footer);
    left: 34vw;
    width: 50vw;
}
.Paddin{
    border-color: black;
    border-style:solid;
    padding-left: 15vw;
}
table{
    position: relative;
    left: 18.5vw;
    width: 10vw;
    color: black;
    background-color: rgb(151, 149, 146);
    
}
.PaddinCon{
    border-color: rgb(255, 255, 255);
    border-style:solid;
    padding-left: 15vw;
}
.tablecon{
    position: relative;
    padding-left: 1vw;
    left: 20vw;
    width: 10vw;
    color: rgb(0, 0, 0);
    background-color: rgb(151, 149, 146);
    
}
button {
    background-color:rgb(0, 0, 0);
    color: white;
    width: 10vw;
    height: 3vw;
    border: none;
    border-radius: 5px;
    font-family: calc(--fonts-title);
    font-size: calc(--size);
}

.material-symbols-outlined {
    
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 40;
  
}
.iconHea{
    position: relative;
    left: 25%;
    top: 38px;
    color: rgb(255, 255, 255);
  font-size: 3.3vw;
  padding: 1vw;
}
.xd{
    position: relative;
    left: 0%;
  color: rgb(0, 0, 0);
  font-size: 2.5vw;
  padding: 4px
}
/*Header scss*/
header{
    position: fixed;
    width: 95%;
    height: 130px;
    background-color: rgb(98, 223, 148);
    left: 2.5vw;
    z-index: +1;
}
/*Imagen Inicio*/
.imgpre{
position: relative;
 width: 90vw;
 height: 30vw;
 top: 130px;
left: 4.6vw;
opacity:0.7;
}
.ima{
    height: 40vw;  
}
.ImgCat{
    position: relative;
    width: 20vw;
    height: 14vw;
    left: 15%;
    top: 3%;
}
.catalogo{
    position: relative;
    background-color: white;
    border: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(190, 190, 190);
    width: 300px;
    height: 20vw;
    margin: 3vw;
    left: 7%;
    text-align: center;
}
/*Carro de compras*/
.carro{
    position:relative;
   width: 100%;
   height: 100%;
   top: 200px;
   padding: 10px;
}
.volver{
    position: relative;
    left: 30vw;
    margin: 4vw;
    margin-top: 3vw;
}
.conten2{
    position: relative;
    top: 300px;
}
/*Footer sccs*/
footer{
    position: relative;
    width: 100%;
    height: 13vw;
    background-color: rgb(21, 153, 127);
    top: 100%;
    
}

.conten{
    display: flex;
}

.textH{
    position: relative;
    padding: .5vw;
    left: 20%;
    top: 20px;
}
.textF{
    position: relative;
    padding-left: 7vw;
    font-family: calc(--font-footer);
    color: rgb(0, 0, 0);
    font-size: 1.5vw;
}
.Logo{
    position: fixed;
    width: 17vw;
    height: 9vw;
    left: 4vw;
}




